<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{$Think.const.CSS_URL}skin.css" />
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
    <body>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <!-- 头部开始 -->
            <tr>
                <td width="17" valign="top" background="{$Think.const.IMG_URL}mail_left_bg.gif">
                    <img src="{$Think.const.IMG_URL}left_top_right.gif" width="17" height="29" />
                </td>
                <td valign="top" background="{$Think.const.IMG_URL}content_bg.gif">
                    <table width="100%" height="31" border="0" cellpadding="0" cellspacing="0" background="{$Think.const.IMG_URL}content_bg.gif">
                        <tr><td height="31"><div class="title">厂商列表</div></td></tr>
                    </table>
                </td>
                <td width="16" valign="top" background="{$Think.const.IMG_URL}mail_right_bg.gif"><img src="{$Think.const.IMG_URL}nav_right_bg.gif" width="16" height="29" /></td>
            </tr>
            <!-- 中间部分开始 -->
            <tr>
                <!--第一行左边框-->
                <td valign="middle" background="{$Think.const.IMG_URL}mail_left_bg.gif">&nbsp;</td>
                <!--第一行中间内容-->
                <td valign="top" bgcolor="#F7F8F9">
                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <!-- 空白行-->
                        <tr><td colspan="2" valign="top">&nbsp;</td><td>&nbsp;</td><td valign="top">&nbsp;</td></tr>
                        
                        <!-- 一条线 -->
                        <tr>
                            <td height="40" >
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                            <td height="40" >
                                <table width="100%" >
                                    <form action="__MODULE__/Member/cz" method="post">
                                    <tr height='40px' align="center" class="d">
                                                                
                                        <td width="140px" bgcolor="#E7F1FE">联&nbsp;系&nbsp;电&nbsp;话:</td>
                                        <td width="140px" bgcolor="#E7F1FE"><input class="text" name="cell" type="text" /></td>
                                        <td width="140px" bgcolor="#E7F1FE"><button id='a'>查&nbsp;找<button/></td>
                                        <td>
                                            <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                                <tr><td></td></tr>
                                            </table>
                                        </td>
                                    </tr>
                                    </form>
                                </table>
                            </td>
                            <td height="40" colspan="2">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <!-- 会员列表开始 -->
                        <tr style="height:360px">
                            <td width="2%">&nbsp;</td>
                            <td width="96%">
                                <table width="100%">
                                    <tr>
                                        <td colspan="2" >
                                            <form action="" method="">
                                                <table width="1100px"  class="cont tr_color" style="position: absolute;top:90px;left:40px">
                                                    <tr>
                                                        
                                                        <th>姓名</th>
                                                        <th>联系电话</th>
                                                        <th>注册时间</th>
                                                        <th>介绍人</th>
                                                        <th>可领金额</th>
                                                        <th>未领金额</th>
                                                        <th>操作</th>
                                                    </tr>

                                                    <if condition="$resArray neq ''">
                                                        <volist name="resArray" id="vo">
                                                           <tr align="center" class="d">
                                                                
                                                                <td>{$vo.name}</td>
                                                                <td>{$vo.cell}</td>
                                                                <td>{$vo.Time}</td>
                                                                <td>{$vo.Superior}</td>
                                                                <td>{$vo.Untreated}</td>
                                                                <td>{$vo.treated}</td>
                                                            <td><a href='__MODULE__/Member/mem_details?row={$vo.ID}' >详情</a></td>
                                                            </tr>
                                                        </volist>
                                                        <tr>
                                                        <td colspan="7">{$fenYekuang}</td>
                                                       </tr> 
                                                        
                                                   <else /><tr align="center"><td colspan="7">没有数据</td></tr>
                                                   </if>
                                                   
                                                </table>
                                            
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td width="2%">&nbsp;</td>
                        </tr>
                        <!-- 产品列表结束 -->
                        <tr>
                            <td height="40" colspan="4">
                                <table width="100%" height="1" border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
                                    <tr><td></td></tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td width="2%">&nbsp;</td>
                            <td width="51%" class="left_txt">
                                <img src="{$Think.const.IMG_URL}icon_mail.gif" width="16" height="11"> 客户服务邮箱：rainman@foxmail.com<br />
                                <img src="{$Think.const.IMG_URL}icon_phone.gif" width="17" height="14"> 官方网站：<a href="http://www.mycodes.net/" target="_blank">源码之家</a>
                            </td>
                            <td>&nbsp;</td><td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td background="{$Think.const.IMG_URL}mail_right_bg.gif">&nbsp;</td>
            </tr>
            <!-- 底部部分 -->
            <tr>
                <td valign="bottom" background="{$Think.const.IMG_URL}mail_left_bg.gif">
                    <img src="{$Think.const.IMG_URL}buttom_left.gif" width="17" height="17" />
                </td>
                <td background="{$Think.const.IMG_URL}buttom_bgs.gif">
                    <img src="{$Think.const.IMG_URL}buttom_bgs.gif" width="17" height="17">
                </td>
                <td valign="bottom" background="{$Think.const.IMG_URL}mail_right_bg.gif">
                    <img src="{$Think.const.IMG_URL}buttom_right.gif" width="16" height="17" />
                </td>           
            </tr>
        </table>
    </body>
    <script type="text/javascript">
        $(function(){
            $("#su").click(function(){
                 var pageNow=document.getElementsByName("pageNow")[0].value;
                 
                 if(pageNow==""){
                    return false;
                 }
            });

            $("#a").click(function(){
                 var cell=document.getElementsByName("cell")[0].value;
                 
                 if(cell==""){
                    return false;
                 }
            });
            
        })
    </script>
</html>