<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>眼镜店</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="stylesheet" href="{$Think.const.CSS_URL}jquery.mobile-1.4.5.min.css">
    <script type="text/javascript"  src="{$Think.const.JS_URL}jquery.min.js"></script>
    <script type="text/javascript" src="{$Think.const.JS_URL}jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="{$Think.const.CSS_URL}iconfont.css">
    <link  rel="stylesheet" href="{$Think.const.CSS_URL}style.css">
    

</head>

<body>
<div data-role="page" data-theme="f" class="padding5" >
    <div data-role="header"  data-theme="f" >
        <div class="ui-btn-left"> <a href="__MODULE__/User/my" target="_top" class="ui-btn ui-corner-all ui-icon-carat-l ui-btn-icon-notext tu1">返回</a></div>
        <h1>信息修改</h1>
    </div>

    <div data-role="main"  class="ui-content">
        <form method="post" action="#" data-ajax="false" >
            <div class="ui-field-contain" >
                手机号：<input type="text" data-theme="a" name='cell' data-iconpos="left" data-icon="user" >
                地址：<input type="text" data-theme="a" name='address'  >
            </div>
            <button class="button1" data-ajax="false">修改</button>
            
            
        </form>
       
    </div>


</div>
        

</body>
<script type="text/javascript">
   $(".button1").click(function () {  
      var cell = document.getElementsByName("cell")[0].value;
      var address = document.getElementsByName("address")[0].value;
      var reg=/^1(3|4|5|7|8)[0-9]\d{8}$/;
      if(!reg.test(cell)){
        //alert('1111');
          return false; 
      }
       //alert('手机号不能为空');
      $.ajax({  
         type: "post",  
         url: "__MODULE__/User/modify",  
         data: {'cell':cell,'address':address},  
         dataType: "text",
         success: function (data) {  
             //data = data.data; 
             if(data == "1") {
                 alert('手机号不能为空');
                  
              }else if(data=='2'){
                  alert('修改失败');
                  location.href = "__MODULE__/User/my";
              }else{
                  alert('修改成功');
                  location.href = "__MODULE__/User/my";
              }
          },
      });
      return false;
    })
</script>
</html>
